* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #101010;
    background: url(../images/bg.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pill {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0%, -50%);
    width: 500px;
    height: 500px;
}

.pill img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
    filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
    transform: rotate(270deg);
    object-fit: cover;
    transition: z-index 0.5s, opacity 0.5s;
    opacity: 0;
}

.pill img[data-id="1"] {
    z-index: 10;
    opacity: 1;
}

.links {
    padding: 5rem 15rem;
    height: 100vh;
    overflow: hidden;
}

.menu a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    letter-spacing: -0.2rem;
    color: rgb(173, 173, 173);
    transition: all 0.3s ease-in-out;
}

.link:first-child a {
    color: #fff;
}

.menu a:hover {
    color: #fff;
    margin-left: 1rem;
}
